@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html, body {
  height: 100%;
  overflow: hidden;
  background-color: beige;
}
.btn-answer {
  @apply inline-block rounded border-amber-600;
  @apply px-6 py-2 font-semibold mt-3 text-xl;
  background-color: darkseagreen;
}
/* Navbar */
.navbar {
  @apply bg-white;
}
nav {
  @apply text-gray-500 transition hover:text-gray-500/75;
}
.login {
  @apply inline-block rounded bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none
  @apply focus:ring active:bg-indigo-500;
}
