@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e5e7eb;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-image: url("/public/bread-menu2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
}

.navbar-img {
  width: 5rem;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.navbar-header {
  font-family: "Kay Pho Du", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #e5e7eb;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.nav-item {
  @apply block rounded-lg px-5 py-3 text-xs font-medium text-gray-800 hover:bg-gray-100 hover:text-gray-700;
  background-color: lightgrey;
}
.nav-active {
  background-color: #f3f4f6;
  font-weight: 800;
  border: 2px solid #dcdcdc;
}

.login {
  @apply rounded bg-gray-700 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none;
  @apply focus:ring active:bg-indigo-500;
}

/* Home */

.home-page {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  gap: 0.5rem;
}

.basic-btn {
  margin-top: 1rem;
  @apply inline-block rounded-full bg-gray-700 px-10 py-3 text-sm font-medium text-white transition hover:bg-gray-500;
  @apply focus:ring active:bg-indigo-500;
}

.section-text h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #322b28;
  text-shadow: 1px 1px 5px rgb(124, 120, 115);
}

.home-page > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img {
  width: 90%;
}

.section-text {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  margin: 0.5rem 1rem;
  text-align: justify;
  padding: 1.5rem;
  width: 90%;
}

.section-text p {
  margin-top: 1.2rem;
}

/* Recipes Layout */

.recipes {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.recipes-header {
  font-family: "Kay Pho Du", serif;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 1px 1px 5px rgb(124, 120, 115);
  margin: 1rem;
  color: #404951;
}

.recipes-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
  flex-grow: 1;
}

.no-recipes-layout {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1rem;
  flex-grow: 1;
}

.no-recipes-layout img {
  width: 20rem;
  margin: 0 auto;
}

.no-recipes-layout p {
  font-weight: 800;
  font-size: 1.1rem;
  color: #374151;
}

/* Recipes Filter */

.recipes-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.recipes-filter select {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: .7rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  width: 50%;
  padding: 5px;
}
.filter-clear {
  font-weight: 400;
  font-size: 0.7rem;
  text-shadow: 1px 1px 5px rgb(124, 120, 115);
  margin-left: auto;
}
.filter-clear:hover {
  color: dimgrey;
  text-shadow: 1px 1px 5px rgb(124, 120, 115);
}

/* Recipe Cards */

.recipe-card {
  position: relative;
  display: flex;
  gap: .3rem;
  flex-direction: column;
  min-height: 25rem;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-like {
  position: absolute;
  color: lightslategrey;
  cursor: pointer;
  font-size: 1.4rem;
  top: 10px;
  right: 10px;
}

.recipe-title {
  flex-grow: 1;
  font-family: "Kay Pho Du", serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: #374151;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin: 0.2rem;
}

.recipe-keywords {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-content: center;
  width: 100%;
}

.recipe-keyword {
  border-radius: 25px;
  border: 2px solid #374151;
  font-size: 0.7rem;
  align-content: center;
  padding: 0.5rem;
}
.recipe-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.recipe-btn {
  margin-top: 1rem;
  @apply inline-block rounded-full bg-gray-700 px-10 py-3 text-sm font-medium text-white transition hover:bg-gray-500;
  @apply focus:ring active:bg-indigo-950;
  width: 70%;
}

/* Recipe Pages */

.recipes-pages {
  display: flex;
  margin: 1rem auto;
  gap: 1rem;
}

.arrow {
  border: solid dimgrey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* RecipeDetail */

.recipe-detail {
  display: flex;
  flex-direction: column;
}

.detail-image {
  width: 50%;
  margin: 0.7rem auto;
}

.detail-text {
  width: 100%;
  margin: 0.7rem auto;
  padding: 15px;
  font-size: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.detail-text h2 {
  font-family: "Kay Pho Du", serif;
  font-weight: 800;
  font-size: 1.6rem;
  color: #374151;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.detail {
  font-size: 1.2rem;
  font-weight: 600;
  color: #d87512;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.recipe-back {
  font-weight: 500;
  font-size: 1.1rem;
}

/* Add Recipe */

.add-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 1rem;
  gap: 1rem;
  margin: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  text-align: left;
  font-size: 1rem;
}

.add-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.form-group label,
.ingredients-label,
.ingredients-added {
  font-weight: 600;
  font-size: 1rem;
  color: #31353c;
}

input,
textarea {
  padding: 0.5rem;
}

.difficulty-group label,
.ingredients label {
  font-weight: normal;
  font-size: 1rem;
}

.difficulty-group {
  display: flex;
  gap: 0.5rem;
}

textarea {
  height: 200px;
  resize: none;
}

.ingredients textarea {
  height: 50px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.add-ingredients-btn {
  margin-top: 0.5rem;
  @apply inline-block rounded-full bg-gray-500 px-5 py-1 text-sm font-medium text-white transition hover:bg-gray-500;
  @apply focus:ring active:bg-indigo-500;
  width: 30%;
}
.add-recipe-btn {
  margin-top: 1rem;
  @apply inline-block rounded-full bg-gray-700 px-10 py-3 text-sm font-medium text-white transition hover:bg-gray-500;
  @apply focus:ring active:bg-indigo-500;
}
.disabled {
  background-color: dimgrey;
  margin-top: 1rem;
  @apply inline-block rounded-full bg-gray-700 px-10 py-3 text-sm font-medium ;
}
.submit-message {
  font-size: 1rem;
  font-weight: 600;
  color: #4d9c4d;
}
.form-error-message {
  font-size: .9rem;
  color: red;
  line-height: 0.8;
}

/* Footer */

footer {
  background-color: #374151;
  height: 50px;
  color: lightgrey;
  align-content: center;
  font-size: 0.8rem;
}

/* Not Found Page */

.not-found-page h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Media Queries for Tablets */

@media (min-width: 768px) {
  .site-wrapper {
    max-width: 720px;
    margin: 0 auto;
  }

  .navbar-header {
    font-size: 2.5rem;
  }

  .navbar-img {
    width: 10rem;
  }
  .recipes-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .recipe-title {
    font-size: 1.2rem;
  }
  .recipe-keyword {
    font-size: .8rem;
  }
  .recipe-detail {
    display: flex;
    flex-direction: row;
  }
  .detail-image {
    width: 50%;
  }
  .detail-text {
    width: 50%;
  }
  .recipe-image {
    width: 100%;
    height: 25rem;
  }
  .recipes-filter {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
  .recipes-filter select {
    font-size: .9rem;
    padding: .5rem;
    width: 30%;
  }
  .filter-clear {
    font-size: 1rem;
  }
  .no-recipes-layout img {
    width: 30rem;
  }
}

/* Media Queries for Small Desktops/Laptops */

@media (min-width: 1024px) {
  .site-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar-header {
    font-size: 4rem;
  }

  .section-text {
    margin: 0;
  }

  .section-text h2 {
    font-size: 2rem;
  }

  .home-page > section {
    flex-direction: row;
    align-items: stretch;
  }

  .home-img {
    width: 30%;
  }

  .home-benefits .home-img {
    order: 2;
  }

  .home-page {
    margin: 1.5rem;
  }

  .recipes-header {
    font-size: 3rem;
  }

  .recipes-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .recipes-filter select {
    font-size: .9rem;
    width: 20%;
  }

  .recipe-title {
    font-size: 1.3rem;
  }

  .no-recipes-layout img {
    width: 35rem;
  }

  .no-recipes-layout p {
    font-size: 1.3rem;
  }
  .recipe-btn {
    width: 100%;
  }

  .add-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 1rem;
    gap: 1rem;
  }
}
